div#carousel { 
    perspective: 1200px; 
    background-image: linear-gradient(#232020, #303639bf),url("/assets/images/food.jpg");
    background-size: cover; 
    background-position:center ;
    font-size:0; 
    margin-bottom: 3rem; 
    overflow: hidden; 
  }
  figure#spinner { 
    transform-style: preserve-3d; 
    height: 300px; 
    transform-origin: 50% 50% -500px; 
    transition: 1s; 
  } 
  figure#spinner img { 
    width: 70%; max-width: 525px; 
    position: absolute; left: 30%;
    transform-origin: 50% 50% -500px;
    outline:1px solid transparent; 
  }
  figure#spinner img:nth-child(1) { transform:rotateY(0deg); 
  }
  figure#spinner img:nth-child(2) { transform: rotateY(-45deg); }
  figure#spinner img:nth-child(3) { transform: rotateY(-90deg); }
  figure#spinner img:nth-child(4) { transform: rotateY(-135deg); }
  figure#spinner img:nth-child(5){ transform: rotateY(-180deg); }
  figure#spinner img:nth-child(6){ transform: rotateY(-225deg); }
  figure#spinner img:nth-child(7){ transform: rotateY(-270deg); }
  figure#spinner img:nth-child(8){ transform: rotateY(-315deg); }
  div#carousel ~ span { 
    color: #fff; 
    margin: 5%; 
    display: inline-block; 
    text-decoration: none; 
    font-size: 2rem; 
    transition: 0.6s color; 
    position: relative; 
    margin-top: -6rem; 
    border-bottom: none; 
    line-height: 0; }
  div#carousel ~ span:hover { color: #888; cursor: pointer; }

  /** button **/

  .btn-3 {
    background: rgb(0,172,238);
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    color: #fff;
    
  }

  .btn-3:hover {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  }

  /** blog **/

  video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -200;
    transform: translateX(-50%) translateY(-50%);
 
  background-size: cover;
  transition: 1s opacity;
}
.stopfade { 
   opacity: 0.1;
}

#polina { 
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100; 
  background: rgba(0, 0, 0, 0.856);
  color: white;
  padding: 2rem;
  width: 33%;
  margin:2rem;
  float: right;
  font-size: 1.2rem;
}
#polina button { 
  display: block;
  width: 80%;
  padding: .4rem;
  border: none; 
  margin: 1rem auto; 
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px; 
  cursor: pointer;
  transition: .3s background;
}
#polina button:hover { 
   background: rgba(23, 214, 64, 0.5);
}

.posting
{

    display: flex;
  justify-content: center;  
   
}  

@media screen and (max-width: 500px) { 

  .courses-container {
    margin:0%;
    width: fit-content;

  .word
  {
    word-wrap: break-word;
  }

  .course
  {
    flex-direction: column; 
    
    display: flex;
  }

  .course-info
  {
    flex-direction: column; 
    
    display: flex;
  }

    .posting
    {
        display: flex;
        flex-direction: column;
    }
   
    .sarah{
        width: 80%;
    }

    #polina{
        width: 80%;
    }

  }
  @media screen and (max-device-width: 800px) {
    .posting
    {
        display: flex;
        flex-direction: column;
    }
    .sarah{
        width: 80%;
    }
    

    #polina{
        width: 80%;
    }

    .center-container
  {
    flex-direction: column; 
    margin: 0%;
  }

  
  .course
  {
    flex-direction: column; 
    
    display: flex;
  }

  }

  /** recipe generator **/
	@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

	* {
		box-sizing: border-box;
	}

  .center-container
  {
    display: flex;
    align-items: center;
  }

	.courses-container {
    margin: auto;
	}

	.course {
		background-color: #fff;
		border-radius: 10px;
		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
		display: flex;
		max-width: 100%;
		margin: 20px;
		overflow: hidden;
		width: 700px;
	}

	.course h6 {
		opacity: 0.6;
		margin: 0;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	.course h2 {
		letter-spacing: 1px;
		margin: 10px 0;
	}

	.course-preview {
		background-color: #2A265F;
		color: #fff;
		padding: 30px;
		max-width: 250px;
	}

	.course-preview a {
		color: #fff;
		display: inline-block;
		font-size: 12px;
		opacity: 0.6;
		margin-top: 30px;
		text-decoration: none;
	}

	.course-info {
		padding: 30px;
		position: relative;
		width: 100%;
	}

	.progress-container {
		position: absolute;
		top: 30px;
		right: 30px;
		text-align: right;
		width: 150px;
	}

	.progress {
		background-color: #ddd;
		border-radius: 3px;
		height: 5px;
		width: 100%;
	}

	.progress::after {
		border-radius: 3px;
		background-color: #2A265F;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 5px;
		width: 66%;
	}

	.progress-text {
		font-size: 10px;
		opacity: 0.6;
		letter-spacing: 1px;
	}

	.btn {
		background-color: #2A265F;
		border: 0;
		border-radius: 50px;
		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
		color: #fff;
		font-size: 16px;
		padding: 12px 25px;
		position: absolute;
		bottom: 30px;
		right: 30px;
		letter-spacing: 1px;
	}

	